# ---> SBT
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.ensime
.idea

# ---> Scala
*.class
*.log
.metals

# ---> Spinal
simWorkspace/
tmp/

# ---> Project
rtl/.Xil
rtl/*.log
rtl/*.dcp
rtl/*.time
rtl/*.json
rtl/*.bit
rtl/*.v
cpu0.yaml
*.bin
